/* ######### ForLogo and top Bar ######### */
#topNav
{
    background: url('../Images/topNav.jpg') repeat-x scroll 0 0 transparent;
    height: 80px;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 98;
    left: 0px;
}

#contentTopNav
{
    margin: 0 auto;
    height: 42px;
    float: left;
    margin-left: 8px;
}

#contentTopNav .lmsLogo
{
    background: url('../Images/lmsLogo.png') no-repeat scroll 0 0 transparent;
    display: block;
    height: 49px;
    margin: 19px 0 0;
    width: 158px;    
}

/* ######### Main Menu Bar CSS ######### */

.mattblackmenu ul{
margin: 0;
padding: 0;
font: bold 12px Verdana;
list-style-type: none;
overflow: hidden;
}

.mattblackmenu li{
display: inline;
margin: 0;
margin-top:5px;
}

.mattblackmenu li a{
float: right;
display: block;
text-decoration: none;
margin: 0px;
padding: 13px 22px; /*padding inside each tab*/
 /*right divider between tabs*/
color: white;
background: url('../Images/topNav.jpg') repeat-x scroll 0 0 transparent;
}

.mattblackmenu li a:visited{
color: white;
}

.mattblackmenu li a:hover{
background: #cecdfe; /*background of tabs for hover state */
}

.mattblackmenu a.selected{
background: black; /*background of tab with "selected" class assigned to its LI */
}

.lmsLogo2
{
    background: url('../Images/lmsLogo.png') no-repeat scroll 0 0 transparent;
    display: block;
    height: 49px;
    margin: 19px 0 0;
    width: 158px;
    float: left;
}

/*Footer*/
/*footer*/
#footer
{
    color:#242424;
    font: 0.8em/145% gergio, times, serif;
    display:block;
    position:relative;
    width:100%;
    border-top: 2px solid #3a6e8f;
    margin-top: 5px;    
}