<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="UsersDb1" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\UsersDB.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="LMSServices"
				 connectionString="Server=.;Database=LMS;Trusted_Connection=Yes;"/>

  </connectionStrings>
  <system.web>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider"
        description="Default SiteMap provider."
        type="System.Web.XmlSiteMapProvider"
        siteMapFile="Web.sitemap"
        securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    
    <authentication mode="Forms">
      <!--<forms name="crew-x-change" loginUrl="Default.aspx"/>-->
      <forms name="crew-x-change" loginUrl="FormMyCourse.aspx"/>
    </authentication>
    <membership defaultProvider="LMSMembershipProvider" userIsOnlineTimeWindow="20">
      <providers>
        <clear/>
        <add name="LMSMembershipProvider" type="LMS.MembershipController.LMSMembershipProvider" 
             connectionStringName="UsersDb1" enablePasswordRetrieval="false" enablePasswordReset="true" 
             requiresUniqueEmail="false" requiresQuestionAndAnswer="false" passwordStrengthRegularExpression=""
             minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordFormat="Hashed" 
             applicationName="/"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="LMSRoleProvider">
      <providers>
        <clear/>
        <add name="LMSRoleProvider" connectionStringName="UsersDb1" applicationName="/" type="LMS.MembershipController.LMSRoleProvider"/>
      </providers>
    </roleManager>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="index.htm"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Data"/>
        <add namespace="System.IO"/>
      </namespaces>
    </pages>
  </system.web>
  
</configuration>